*{
    box-sizing: border-box;
    margin: 0;
}

div.container{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo{
      width: 200px;
      height: 100px;
      background-image: url("logo.png");
  }
button.btn{
    background:#8e8e8e;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 25px 80px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

button.btn-2{
    background-color:#00c850;
}
  
button.btn:hover{
    background-color: white;
    color: black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }